<div class="w-full md:w-1/5 p-4 border border-blue rounded shadow-md m-2 bg-white">
  <div class="font-bold text-xl mb-2">
    <%= service.kind %>
  </div>
  <%= service.active %>
  <% if service.new_record? %>
    <%= button_to(t('.add'), account_services_url,
                  params: { service: { kind: service.kind } },
                  class: 'button bg-blue text-white') %>
  <% elsif service.authenticate? %>
    <%= link_to(t('.authenticate'), service.permission_url, target: :blank,
                class: 'button bg-blue text-white') %>
  <% end %>
</div>
