<div class="absolute top-0 left-0 right-0 z-20">
  <div class="flex items-center justify-between w-full h-16 p-3 bg-white xl:px-6 xl:py-3">
    <div class="flex items-center">
      <h2 class="text-xl font-medium leading-none text-gray-900 sm:text-2xl xl:text-2xl">
        <%= t('.messages') %>
      </h2>
      <svg class="w-6 h-6 ml-2 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
    </div>
    <div class="flex items-start ml-2">
      <%= link_to(new_account_message_path, class: 'btn btn-blue btn-bounce text-xs sm:text-base sm:px-4 sm:py-2') do %>
      <div class="mr-1 -ml-1">
        <%= render('application/icons/plus') %>
      </div>
      <%= t('.new_message') %>
      <% end %>
    </div>
  </div>
</div>
