<div class="absolute top-0 left-0 right-0 z-20 border-b">
<div class="flex items-center justify-between w-full h-16 p-3 bg-white xl:px-6 xl:py-3">
  <div class="flex">
    <h2 class="text-2xl font-medium leading-none text-gray-900 xl:text-2xl">
      <%= t('.new_message') %>
    </h2>
    <svg class="w-6 h-6 ml-2 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"/>
    </svg>
  </div>
  <div class="flex items-start ml-2">
    <%= link_to(account_messages_path, class: 'btn bg-blue-900 btn-bounce sm:text-base sm:px-4 sm:py-2') do %>
      <div class="mr-1 -ml-1">
        <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
        </svg>
      </div>
      <%= t('.back') %>
    <% end %>
  </div>
</div>
</div>
