<div id="messages-table" class="absolute inset-0 pt-16 pb-4 overflow-y-auto">
  <div class="flex flex-col">
    <% @scoped_messages.each do |key,messages| %>
      <% if messages.any? %>
      <div class="inline-block min-w-full align-middle">
        <div class="sticky top-0 z-10 px-2 py-2 font-medium bg-blue-50 lg:px-6">
          <%= t(key,scope:"model.message.dates") %>
        </div>
        <table class="min-w-full table-fixed">
          <tbody class="bg-white">
            <% messages.each do |message| %>
            <%= render('messages/row', message: message) %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
