<% content_for(:sidebar) do %>
<%= render('application/sidebar', current: :messages) %>
<% end %>
<% content_for(:header_title) do %>
<%= t(".title") %>
<% end %>
<div class="relative flex-grow bg-gray-100">
  <%= render("heading") %>
  <%= render("table") %>
</div>
