<div class="mb-3">
  <dl class="text-grey-darker text-base">
    <% connection.hours.each do |k, v| %>
      <dd><strong><%= week_day(k) %></strong> <%= v.join(' ') %></dd>
    <% end %>
  </dl>
</div>
