<table class="head-wrap" bgcolor="#fff">
  <tr>
    <td></td>
    <td class="header container">

      <div class="content">
        <table bgcolor="#fff">
          <tr>
            <td>
              <%= image_tag(image_url('email_logo.png'), class: 'logo') %>
            </td>
            <td align="right">
              <%= content_tag(:h1, t('general.title'), class: 'text-xl font-semibold collapse') %>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
