<div x-show="tab === 'week'" class="">
  <%= render("stats_week") %>
</div>
<div x-show="tab === 'month'" class="">
  <%= render("stats_month") %>
</div>
<div x-show="tab === 'year'" class="">
  <%= render("stats_year") %>
</div>
<div x-show="tab === 'total'" class="">
  <%= render("stats_total") %>
</div>
