<% content_for(:sidebar) do %>
<%= render('application/sidebar', current: :space) %>
<% end %>
<div class="flex flex-1 bg-gray-50 lg:overflow-y-auto">
  <div class="w-full">
  <div class="w-full p-3 lg:w-1/2">
    <%= render('messages/form', contacts: @space.contacts, message: @message) %>
  </div>
  <% if @messages %>
  <div class="w-full p-3 lg:w-1/2">
    <h2 class="text-lg font-semibold"><%= t('.sent_messages') %></h2>
    <%= render(@messages) %>
  </div>
  <% end %>
</div>
</div>
