<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :account) %>
<% end %>

<div class="w-full p-4 mx-8"> <!-- Main content div -->
  <div class="w-full border-b py-2 border-grey"> <!--Headline div -->
    <h2>Space - <%= @space.title %></h2>
  </div>
  <div class="w-full lg:w-3/4 xl:w-2/3 p-3">
    <h3>Contacts</h3>
    <ul class="py-2">
      <% @space.contacts.each do |contact| %>
        <li><%= link_to(contact, space_contact_path(@space, contact)) %></li>
      <% end %>
    </ul>
    <div class="mt-4">
      <%= link_to(t('.new'), new_space_contact_path(@space), class: 'button button-blue') %>
    </div>
  </div>
</div>
