<div class="flex flex-wrap justify-center w-full h-full items-center">
  <div class="w-full md:w-1/3 text-center h-full mb-3">
    <h1 class="text-2xl font-semibold"><%= title(t('.welcome')) %></h1>
    <p class="mt-2 text-grey-600">
      <%= t('.description') %>
    </p>
  </div>
  <div class="flex w-full md:w-1/3 justify-center">
    <%= image_tag('undraw_messages1_9ah2.svg', class: 'h-64') %>
  </div>
</div>
