<div class="w-full text-center">
  <div class="mb-4 text-lg">
    <h1>WELCOME!</h1>
  </div>

  <% if signed_in? %>
    <div class="my-2">
      <%= link_to(t('.account'), account_path, class: 'button button-blue') %>
    </div>
  <% end %>
</div>
