<div class="px-4 py-5 mt-6 bg-white border border-gray-200 shadow sm:rounded-lg sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">
        Use a permanent address where you can receive mail.
      </p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="#" method="POST">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">First name
            </label>
            <input id="first_name"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="last_name" class="block text-sm font-medium leading-5 text-gray-700">Last name
            </label>
            <input id="last_name"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label for="email_address" class="block text-sm font-medium leading-5 text-gray-700">Email address
            </label>
            <input id="email_address"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="country" class="block text-sm font-medium leading-5 text-gray-700">Country / Region
            </label>
            <select id="country"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md shadow-sm form-select focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
              <option>United States
              </option>
              <option>Canada
              </option>
              <option>Mexico
              </option>
            </select>
          </div>

          <div class="col-span-6">
            <label for="street_address" class="block text-sm font-medium leading-5 text-gray-700">Street address
            </label>
            <input id="street_address"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <label for="city" class="block text-sm font-medium leading-5 text-gray-700">City
            </label>
            <input id="city"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label for="state" class="block text-sm font-medium leading-5 text-gray-700">State / Province
            </label>
            <input id="state"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label for="postal_code" class="block text-sm font-medium leading-5 text-gray-700">ZIP / Postal
            </label>
            <input id="postal_code"
              class="block w-full px-3 py-2 mt-1 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm form-input focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mt-6 bg-white border border-gray-200 shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">
      Delete your account
    </h3>
    <div class="max-w-xl mt-2 text-sm leading-5 text-gray-500">
      <p>
        Once you delete your account, you will lose all data associated with it.
      </p>
    </div>
    <div class="mt-5">
      <button type="button" class="inline-flex items-center justify-center px-4 py-2 font-medium text-red-700 transition duration-150 ease-in-out bg-red-100 border border-transparent rounded-md hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 sm:text-sm sm:leading-5">
        Delete account
      </button>
    </div>
  </div>
</div>
