<div class="p-6 text-center">
  <div class="w-24 mx-auto mt-4 mb-4">
    <%= image_tag('add_first_customer.svg', alt: 'Builders')%>
  </div>
  <p class="mb-4 text-2xl font-medium text-gray-900"><%= t(".no_customers_found") %></p>
</div>
