<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :contacts) %>
<% end %>
<% content_for(:header_title) do %>
  <%= t(".title") %>
<% end %>
<div class="relative flex-grow bg-gray-100">
  <%= render("heading") %>

  <div id="customers-table" class="px-2 pb-4 lg:px-0">
    <%= render("table", contacts: @space.contacts) %>
  </div>
</div>
