# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 92c96c190a42a714cc3f5fdb4a8de8a634aa983e17f0b38d7de9ccec4e8ff00749945bee988354631dfb47fc9796c9bfd9c0138a87f58cf2afb204affd30417b
  twilio_account_sid:  <%= ENV.fetch("TWILIO_ACCOUNT_SID", "") %>
  twilio_auth_token:  <%= ENV.fetch("TWILIO_AUTH_TOKEN", "") %>
  twilio_phone_number:  <%= ENV.fetch("TWILIO_PHONE_NUMBER", "") %>

test:
  secret_key_base: f9a2c30cd63f4303eee724b14886e088b920262db8caebc2d906486ce9a6f1802bf0d4845866c4b6f370a026ee3cb72d8e4a82153a368be13892b8c60178c552
  twilio_account_sid:  <%= ENV.fetch("TWILIO_ACCOUNT_SID", "") %>
  twilio_auth_token:  <%= ENV.fetch("TWILIO_AUTH_TOKEN", "") %>
  twilio_phone_number:  <%= ENV.fetch("TWILIO_PHONE_NUMBER", "") %>

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  twilio_account_sid:  <%= ENV.fetch("TWILIO_ACCOUNT_SID", "") %>
  twilio_auth_token:  <%= ENV.fetch("TWILIO_AUTH_TOKEN", "") %>
  twilio_phone_number:  <%= ENV.fetch("TWILIO_PHONE_NUMBER", "") %>
