<div class="flex w-full justify-center">
  <h1 class="text-xl font-semibold"><%= title(t('.title')) %></h1>
</div>

<div class="mx-auto w-full max-w-md pt-4">
  <p class="mb-4"><%= t(".description") %></p>
</div>
