<div class="w-full bg-white border-r py-6 text-center text-grey-lighter h-full">
  <div class="mb-6 text-black">
    <h3>Welcome </h3><br>
    <h4><%= current_user.email %></h4>
  </div>
  <div class="mt-8">
    <ul class="list-reset">
      <li class="">
        <%= sidebar_link(t('.overview'), account_path, current == :account) %>
      </li>
      <li class="">
        <%= sidebar_link(t('.settings'), account_settings_path,
                        current == :settings) %>
      </li>
      <li class="border-b">
        <%= sidebar_link(t('.upgrade'), nil, current == :upgrade) %>
      </li>
    </ul>
  </div>
</div>
