<div class="w-full border-r text-center">
  <% if current_user.space %>
    <div class="border-b w-full py-4 mb-8 font-semibold text-blue-700 text-xl">
      <h2>
        <%= current_user.space %>
      </h2>
    </div>
    <ul class="mb-8">
      <li class="">
        <%= sidebar_link(t('.space'), account_path, current == :space) %>
      </li>
      <li class="border-b">
        <%= sidebar_link(t('.contacts'), account_contacts_path, current == :contacts) %>
      </li>
    </ul>
  <% end %>
  <ul class="">
    <li class="border-b">
      <%= sidebar_link(t('.settings'), account_settings_path,
                      current == :settings) %>
    </li>
  </ul>
</div>
